body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-section {
    display: flex;
    margin-bottom: 15px;
}

#taskInput {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
}

#addButton {
    background-color: #3939a7;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 16px;
}





#taskList li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

#taskList li:last-child {
    border-bottom: none;
}

.task-text {
    flex-grow: 1;
    margin-right: 10px;
}

.done-button, .delete-button {
    background-color: #f0ad4e;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
    font-size: 14px;
}

.delete-button {
    background-color: #d9534f;
}

.done-button:hover {
    background-color: #eea236;
}

.delete-button:hover {
    background-color: #c9302c;
}

.completed {
    text-decoration: line-through;
    color: #888;
}